.container {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #f9f9f9;
}

.table {
    width: 100%;
    align-self: center;
    font-size: 1rem;
}

.table thead th {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.text-primary {
    color: #007bff;
}

.text-center {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.shadow-lg {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
